<section id="business_units">
        <div class="container-fluid content">
            <div class="row wrapper">
                <!-- Digital -->
                <div class="col-md-12 component-business component-digital card">
                    <div class="card__container card__container">
                        <div class="card__headline">
                            <div class="valign">
                                <h1>Digital</h1>
                                <h3><a href="#what-we-do">What we do</a>   |   <a href="#how-we-do">How we do</a>   |   <a href="#get-in-touch">Get in Touch</a></h3>
                            </div>
                        </div>
                        <div class="card__content">
                            <div class="card__caption">
                                <h2 class="card__title">Radio</h2>
                                <p class="card__subtitle">With iHeartRadio and over 850 radio stations we reach more people than any media company in the U.S.</p>
                            </div>
                            <div class="card__copy">
                                
                                <!-- Start template pillar-solid-oneline -->
                                <section class="tc pillar-solid-oneline">    
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>We reach nearly every commuter in the U.S.</h1>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-solid-oneline -->
                               
                                
                                <!-- Start template pillar-bg-image -->
                                <section id="what-we-do" class="tc pillar-bg-image traffic-text" style="background:url('images/business-units/traffic/bgimage-1.jpg') no-repeat center center;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 content left">
                                                <h1>Stop seeing red</h1>
                                                <p>Lorem ipsum dolor sit amet, id assum maluisset his, id noster timeam tacimates his. Petentium suavitate ocurreret at sea, an eos latine scripserit. Sit munere semper ne. Aperiam antiopam vix eu. Usu ei eius democritum, ne sea iusto dolore consetetur.</p>
                                                <a class="btn-outline" href="http://google.com" target="_blank">Learn More</a>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-bg-image -->
                                
                                <!-- Start template pillar-bg-solid-color -->
                                <section class="tc pillar-bg-solid-color traffic-text-inverse">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="images/business-units/traffic/phone-map.png" class="img-responsive" />
                                            </div>
                                            <div class="col-md-8 content right">
                                                <h1>We are EVERYWHERE.</h1>
                                                <p>Lorem ipsum dolor sit amet, id assum maluisset his, id noster timeam tacimates his. Petentium suavitate ocurreret at sea, an eos latine scripserit. Sit munere semper ne. Aperiam antiopam vix eu. Usu ei eius democritum, ne sea iusto dolore consetetur.</p>
                                                <a class="btn-outline" href="http://google.com" target="_blank">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-bg-solid-color -->
                                
                                <!-- Start pillar-bg-white -->
                                <section class="tc pillar-bg-white traffic-text-dark" style="background:url('images/business-units/traffic/right-side-image.jpg') no-repeat bottom right;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 content left">
                                                <h1>We do TV, Radio, Online</h1>
                                                <p>Lorem ipsum dolor sit amet, id assum maluisset his, id noster timeam tacimates his. Petentium suavitate ocurreret at sea, an eos latine scripserit. Sit munere semper ne. Aperiam antiopam vix eu. Usu ei eius democritum, ne sea iusto dolore consetetur.</p>
                                                <a class="btn-outline" href="http://google.com" target="_blank">Learn More</a>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-bg-white -->
                                
                                <!-- Start pillar-how-we-do -->
                                <section id="how-we-do" class="tc pillar-how-we-do" style="background:#82044f;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 content center traffic-text-light">
                                                <h1>How we do</h1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 swiper-hwd-wrapper">
                                                <div class="swiper-button-prev swiper-button-white"></div>
                                                <!-- How we do Swiper/Slider -->
                                                <div id="swiper-hwd" class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <!-- Swiper Slides -->
                                                        <div class="swiper-slide">
                                                            <div class="gk-slide one">
                                                                <div class="col-md-12 slide-content">
                                                                    <div class="col-md-2"></div>
                                                                    <div class="col-md-8">
                                                                        <h1>Total Traffic &amp; Weather Network reaches every commuter in the U.S.</h1>
                                                                    </div>
                                                                    <div class="col-md-2"></div>
                                                                    <img src="images/business-units/traffic/gk-slides/slide1.png" class="img-responsive" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gk-slide two">
                                                                <div class="col-md-12 slide-content">
                                                                    <h1>We are <span class="thick-red">more</span> than what is called "mobile".</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Add Pagination DISABLED -->
                                                <!--<div class="swiper-pagination"></div>-->
                                                <div class="swiper-button-next swiper-button-white"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-how-we-do -->
                                
                                <!-- Start template pillar-solid-oneline -->
                                <section class="tc pillar-solid-oneline">    
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>We do more than just traffic &amp; weather...</h1>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End template pillar-solid-oneline -->
                            
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Digital -->
            </div>
    </div>
</section>