<section id="business_units">
        <div class="container-fluid content">
            <div class="row wrapper">
                <!-- Radio -->
                <div class="col-md-12 component-business component-radio card">
                    <div class="card__container card__container">
                        <div class="card__headline">
                            <div class="valign">
                                <h1>Radio</h1>
                                <h3><a href="#what-we-do">What we do</a>   |   <a href="#how-we-do">How we do</a>   |   <a href="#get-in-touch">Get in Touch</a></h3>
                            </div>
                        </div>
                        <div class="card__content">
                            <img src="images/business-units/radio-content.jpg" style="width: 100%;"/>
                        </div>
                    </div>
                </div>
                <!-- radio -->
            </div>
    </div>
</section>